/* FOOTER */
footer {
  position: relative;
  border-top: solid 1px #59595936;
  justify-content: center;
  display: flex;
  padding: 30px;
}

footer p {
  text-align: center;
}

/* PC */
@media (min-width: 64em) {
  footer {
    z-index: 5;
  }
}