#slider {
  display: flex;
  position: relative;
  margin-top: 60px;
  margin-bottom: 150px;
  /* background: url("/asm1/assets/img/slider/slider1.jpg") top center / cover no-repeat; */
}

#slider .text-content {
  /* position: absolute; */
  bottom: 47px;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;
  /* margin-bottom: 100px; */
  align-items: center;
}

#slider .welcome {
  font-weight: 500;
  font-size: 45px;
  padding-bottom: 20px;
}

#slider .left .heading-logo {
  margin-top: 30px;
  padding-top: 20px;
  font-size: 60px;
  font-weight: 600;
}

#slider .text-description p {
  font-size: 20px;
  margin-top: 25px;
  margin-right: 50px;
  /* text-align: left; */
  /* text-shadow: 0 0 1px #000; */
}


#slider .right,
#slider .left {
  align-items: center;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  justify-content: space-between;
  /* Chiều cao của slider bằng với chiều cao của trang */
}


#slider .right {
  width: 40%;
}

#slider .left {
  width: 60%;
  /* margin-bottom: 100px; */
  justify-content: center;
  /* Căn giữa nội dung theo chiều ngang */
  align-items: center;
  /* Căn giữa nội dung theo chiều dọc */
}

#slider .right img {
  width: 50%;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-btn {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider-btn:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked+.slider-btn {
  background-color: #522ba7;
}

input:checked+.slider-btn:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

#heading-logo,
.logo {
  background: -webkit-linear-gradient(#09ae2a, #0092bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CSS */
.button-88 {
  margin-top: 50px;
  margin-bottom: 90px;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cssbuttons-io-button {
  background: #05f144;
  color: rgb(59, 59, 59);
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #4da666;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 45px;
  margin-left: 0px;
}

.cssbuttons-io-button .icon {
  background: rgb(255, 255, 255);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #52b982;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #5279b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
  cursor: pointer;
}

.cssbuttons-io-button:hover {
  background: #058bf1;
  box-shadow: inset 0 0 1.6em -0.6em #4d7ca6;
  cursor: pointer;
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


.button-88:hover {
  background: linear-gradient(0deg, rgb(57, 93, 255) 0%, rgb(0, 150, 250) 100%);
  box-shadow: 0 0.7em 1.5em -0.5em #1c8cfc;
  cursor: pointer;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
  #slider {
    display: block;
  }

  #slider .left {
    width: 100%;
  }

  #slider .right,
  #slider .right img {
    padding-top: 20px;
    width: 90%;
    justify-content: center;
    margin: auto;
  }
}