/* variables.css */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --hover-primary-color: #e74c3c;
  --hover-secondary-color: #f1c40f;

  /* --dark-background: #1f1f26ef; */
  --dark-background: #1A1A1A;
  --dark-menu-background: #232327;
  --light-background: #ffffffef;
  --main-primary-color: #00b53c;
  --dark-primary-color: #3498db;
}